* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: grid;
  grid-template-columns: repeat(1 1fr);
  grid-template-rows: repeat(1, 5re);
  grid-template-areas:
    "box1 box1 box1"
    "box box box";
}
.box1 {
  display: flex;
  grid-area: box1;
}
.box {
  background-color: gray;
  display: flexbox;
  position: fixed;
  width: 210px;
  height: 200px;
  align-items: center;
  justify-content: center;
  grid-area: box;
}
